<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EMS</a>
    </div>
    <ul class="nav navbar-nav">
            <li class="active"><a href="#">Welcome {{user}}</a></li>
      <li class="active"><a href="#">Home</a></li>
      <li ><a href="createEmp">Create Emp</a></li>
      <li ><a href="viewEmp">View Emp</a></li>

    </ul>
  <ul class="nav navbar-nav navbar-right">
  <!--    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    -->
<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
  </ul>
  </div>
</nav>

<div class="container" align="center">
  <h3>Create New Employee Form</h3>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{msg}}</strong>
  </div>
  <form action="empInsert" method="post">

  EID       <input type="text" name="eid" />
  Ename <input type="text" name="ename" />
  Salary <input type="text" name="salary" />

    <input type="submit" value="Save" />
  </form>



 </div>

</body>
</html>
